## 이 책의 활용 방법
---
1. 모든 코드를 다운로드해 주피터 노트북에 저장한다. (데이터 주소: https://github.com/AcornPublishing/pandas-cookbook-2e)
2. 각 예제를 읽으면서 코드의 각 단계를 노트북에서 실행해보라.
3. 코드를 실행하며 직접 탐색해봐야 한다.

1. 브라우저 탭에 Pandas 공식 문서를 열어두라. (http://pandas.pydata.org/pandas-docs/stable/)
2. 문서에는 Pandas 연산에 대한 대부분의 예제가 제공되고 종종 '추가사항' 절과도 연계돼 있다.

### 개요

---

>   그날 그날 Pandas를 공부하며 마구잡이로 정리하는 파일입니다.
>
>   -   처음부터 각잡고 정리하며 하니 진도가 안나가 유용한 것들부터 적기 시작합니다.
>   -   나중에 나름의 틀에 맞게 정리할 것

In [2]:
import pandas as pd
import numpy as np

In [4]:
# 1. 데이터를 담은 병렬 리스트 생성
fname = ['Paul', 'John', 'Richard', 'George']
lname = ['McCarthey', 'Lennon', 'Starkey', 'Harrison']
birth = [1942, 1940, 1940, 1943]

In [5]:
# 2. 리스트에서 딕셔너리를 생성하고 열 이름을 리스트와 매핑
people = {'first': fname, 'last': lname, 'birth': birth}

In [7]:
# 딕셔너리에서 DataFrame을 생성
beatles = pd.DataFrame(people)
beatles

     first       last  birth
0     Paul  McCarthey   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

### 작동원리
---
기본 설정으로 Pandas는 DataFrame의 생성자가 호출되면 RangeIndex를 생성한다.

In [8]:
beatles.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
# If you need. You can insert into DataFrame to change index to other thing.
pd.DataFrame(people, index=['a', 'b', 'c', 'd'])

     first       last  birth
a     Paul  McCarthey   1942
b     John     Lennon   1940
c  Richard    Starkey   1940
d   George   Harrison   1943

### 추가사항
---
딕셔너리의 리스트에서도 DataFrame을 생성할 수 있다.

In [10]:
pd.DataFrame(
    [
        {
            'first': 'Paul',
            'last': 'McCarthey',
            'birth': 1942,
        },
        {
            'first': 'John',
            'last': 'Lennon',
            'birth': 1942,
        },
        {
            'first': 'Richard',
            'last': 'Starkey',
            'birth': 1940,
        },
        {
            'first': 'George',
            'last': 'Harrison',
            'birth': 1943,
        }
    ]
)

     first       last  birth
0     Paul  McCarthey   1942
1     John     Lennon   1942
2  Richard    Starkey   1940
3   George   Harrison   1943

In [11]:
# 딕셔너리의 행을 사용하면 키의 알파벳순으로 열이 정렬된다.
# 필요하면 columns 매개변수를 사용해 열 순서를 지정할 수 있다.
pd.DataFrame(
    [
        {
            'first': 'Paul',
            'last': 'McCarthey',
            'birth': 1942,
        },
        {
            'first': 'John',
            'last': 'Lennon',
            'birth': 1942,
        },
        {
            'first': 'Richard',
            'last': 'Starkey',
            'birth': 1940,
        },
        {
            'first': 'George',
            'last': 'Harrison',
            'birth': 1943,
        }
    ],
    columns = ['last', 'first', 'birth']
)

        last    first  birth
0  McCarthey     Paul   1942
1     Lennon     John   1942
2    Starkey  Richard   1940
3   Harrison   George   1943