In [2]:
import pandas as pd

df = pd.DataFrame({
    "미국": [2.1, 2.2, 2.3],
    "한국": [0.4, 0.5, 0.45],
    "중국": [10, 13, 15],
    "년도": [2000, 2010, 2020]
    }).set_index('년도')

df

       미국    한국  중국
년도
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15

# DataFrame

### 특정 열 가져오기
- 특정 열은 Series

In [6]:
df['미국']

print(df['미국'][2000])
print(df.loc[2000]['미국'])
print(df.iloc[0]['미국'])

2.1
2.1
2.1

### 열 추가하기

In [8]:
df['일본'] = [1, 2, 3]

### 열 삭제하기
- del [컬럼]

In [9]:
del df['일본']

### 특정 행 가져오기
1. loc - 인덱스를 통해 값을 찾음
2. iloc - 인덱스 번호를 통해 값을 찾음

In [13]:
df.loc[2000]
df.iloc[0]

미국     2.1
한국     0.4
중국    10.0
Name: 2000, dtype: float64

### 행 추가
- df.loc[new index] = list

In [17]:
df.loc[2021] = [1, 2, 3]
df

       미국    한국  중국
년도
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15
2021  1.0  2.00   3

### 행 삭제
- df.drop([index name])

In [18]:
df.drop([2021])

       미국    한국  중국
년도
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15

### 컬럼 선택
- 새로운 데이터 저장소가 만들어짐

#### copy()
> - 같은 데이터를 참조하지 않고 사용하기 위함
> - 원본 데이터는 놔두고, 복사하여 데이터를 처리하는 경우가 많음.
> - 보통 원본 데이터는 온전히 보전하고, 필요한 데이터 분석시 필요한 컬럼만 가져올 때 사용

In [24]:
copy_df = df[['중국', '한국']].copy()
copy_df

      중국    한국
년도
2000   1  0.10
2010  13  0.50
2020  15  0.45
2021   3  2.00

### 컬럼명 변경하기

In [10]:
copy_df.columns = ['브라질', '아르헨티나']

NameError: name 'copy_df' is not defined